/* Base styles for desktop and larger screens */
.section {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distributes space between text and image containers */
    margin-top: 40px;
}
.image-container, .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    max-width: 50%; /* Ensures each container doesn't exceed half the screen width */
}

.image-container {
    position: relative;
    width: 100%; /* Set the width you want */
    height: 300px; /* Set the fixed height you want */
    overflow: hidden; /* Ensure overflow is hidden */
    margin: 0 auto; /* Center the container horizontally */
    border-radius: 10px; /* makes edges round */
}
.text-container {
    text-align: center; /* Centers the text within the container */
    padding: 0 20px;
}
.image-container img {
    max-width: 100%;
    height: auto;
}

/* Media query for smaller screens (e.g., mobile and tablets) */
@media screen and (max-width: 768px) {
    .section {
        flex-direction: column;
    }
    .image-container {
        margin-top: 20px;
        order: 2; /* Ensures image is below the text */
        max-width: 100%;
    }
    .text-container {
        order: 1; /* Ensures text is above the image */
        padding: 0;
        max-width: 90%;
    }
}
